version: "3.9"
services:
  db:
    image: postgres:16
    container_name: webnest-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: webnest
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
